{
  "extends": ["airbnb"],
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "react/prefer-stateless-function": "off",
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off"
  }
}
