.app {
    max-width: 1200px;
    margin: 40px;
    background: rgba($absolute-black, 0.4);
    
    @include border;

    @include mobile {
        margin: 20px;
        max-width: 100%;
        width: 100%;
    }

    @include tablet {
        min-width: 750px;
        margin: 20px;
    }

    @include desktop {
        min-width: 1000px;
    }

    @include hd {
        min-width: 1200px;
    }
}
