.screen-container {
    width: 100%;

    @include desktop {
        min-height: 100vh;
    }
    
    @include hd {
        min-height: 100vh;
    }
    
    &_promo {
        height: calc(100vh - 25px);

        @include desktop {
            height: calc(100vh - 45px);
        }
        @include hd {
            height: calc(100vh - 45px);
        }
    }
}
