$mobile-min-width: 140px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1199px;
$desktop-min-width: 1200px;
$desktop-max-width: 1919px;
$desktop-hd-min-width: 1920px;
$action: #861dff;
$borders: #5ad1ff;
$absolute-black: #000000;
$text: #e2e2e2;
$select: #ff3f00;
