$mobile-min-width: 140px;
$mobile-max-width: 810px;
$tablet-min-width: 811px;
$tablet-max-width: 1099px;
$desktop-min-width: 1100px;
$desktop-max-width: 1919px;
$desktop-hd-min-width: 1920px;
$action: #861dff;
$absolute-black: #000000;
