@mixin mobile {
  @media (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-min-width) and (max-width: $desktop-max-width) {
    @content;
  }
}

@mixin hd {
  @media (min-width: $desktop-hd-min-width) {
    @content;
  }
}

@mixin border {
  border: 3px solid $borders;
}

@mixin flashBorderOnHover($color) {
  transition: border-color 0.15s;
  transition-timing-function: ease-out;

  &:hover {
    transition: border-color 0s;
    border-color: $color;
  }
}

@mixin flashColorOnHover($color) {
  transition: color 0.15s;
  transition-timing-function: ease-out;

  &:hover {
    cursor: pointer;
    transition: color 0s;
    color: $color;
  }
}

@mixin flashColorAndBackgroundOnHover($color, $backgroundColor) {
  transition: color 0.15s, background-color 0.15s;
  transition-timing-function: ease-out;

  &:hover {
    cursor: pointer;
    transition: 0s;
    background-color: $backgroundColor;
    color: $color;
  }
}
